{% extends 'base.html.twig' %}

{% block body %}
     <div class="image-wrapper">
        <img class="uploaded-image" src="{{ imageSource }}" alt="Uploaded image">
    </div>

    <div class="form-group">
        {{ form(form) }}
    </div>

    <a href="/">Upload another image</a>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('button.save-button').forEach(function (button) {
            let saveTo = button.id.slice(5)
            button.onclick = function (event) {
                event.preventDefault()
                window.location = window.location.origin + window.location.pathname + '?save=' + saveTo
            }
        });
    </script>
{% endblock %}
