<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app" class="container">
            {% block errors %}
                {% if errors is defined and errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ errors }}
                    </div>
                {% endif %}
            {% endblock %}

            {% block info %}
                {% if info is defined and info %}
                    <div class="alert alert-success" role="alert">
                        {{ info }}
                    </div>
                {% endif %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
